body {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 75px;
    height: auto;
    overflow: hidden;
}
h2 {
    font-size: 30px;
    color: darkgreen;
    text-decoration: underline;
    border-right: 1px solid;
    height: 40px;
    margin: 0px;
}
.affichageExo3 {
    height: 50px; 
    flex-direction: column;
}
.formInput {
    border: 2px solid grey;
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    height: 40px;
    color: blue;
}